/* import fonts from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Wix+Madefor+Text:ital,wght@0,800;1,800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

*{
    margin-top:20px;
}
/* shared styles */
.btn-primary{
    background-color: #E02C6D;
    color: #ffff;
    border-radius: 100px;
    text-align: center;
    border: 0;
    margin: 0;
    padding: 10px;
}
:root{
    --primary-color:#3A3A3A;
}

/* header related styles */
.nav-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navbar{
    display: flex;
    gap: 50px;
    list-style: none;
}
.navbar :hover{
    background-color: rgb(173, 175, 33);
}
.navbar a{
    text-decoration: none;
    color: #3A3A3A;
}
.nav-container2{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-title{
    font-size: 1.8rem;
    margin-left: 50px;
}
.nav-description{
    margin-left: 50px;
    color: var(--primary-color);
}
.btn-primary{
    margin-left: 50px;
}
.bg-img{
    width: 50%;
}
.nav-background{
    background-image: url('./images/images/camera.png');
}
.banner-container{
    width: 1100px;
    height: 110px;
    background-color: #ececec;
    display: flex;
    justify-content: space-evenly;
    margin-left: 350px;
    margin-right: 100px;
    margin-top: 20px;
}

/* responsive media query */
/* mobile device */
@media screen and (max-width:576px) {
    *{
        margin-top: 30px;
    }
    .nav-container
    
    {
        flex-direction: column;
    }
    .nav-container2{
        flex-direction: column-reverse;
    }
    .bg-img{
        position: relative;
        left: 100px;
    }
    .navbar{
        margin-right: 30px;
        margin: 0px;
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
    .nav-title, .nav-description,.btn-primary{
        text-align: center;
        margin: 0;
        padding: 10px;
    }
    .btn-primary{
        margin-left: 30%;
        margin-top: 10px;
    }
    .banner-container{
        margin-top: 10px;
        margin-left: 0px;
        margin-right: 0px;
        display: grid;
        grid-template-columns: repeat(4,1fr);
        width: 100%;
        background-color:white;
    }

}

/* medium device */
@media screen and (min-width:576px) and (max-width:992px) {

    .nav-container
    {
        flex-direction: column;
    }
    .nav-container2{
        flex-direction: column-reverse;
    }
    .bg-img{
        position: relative;
        left: 100px;
    }
    .nav-title, .nav-description,.btn-primary{
        text-align: center;
        margin: 0;
        padding: 10px;
    }
    .btn-primary{
        margin-left: 30%;
        margin-top: 10px;
    }
    .banner-container{
        margin-top: 10px;
        margin-left: 0px;
        margin-right: 0px;
        display: grid;
        grid-template-columns: repeat(4,1fr);
        width: 100%;
        background-color:white;
    }
}